#calcBox{
    display:flex;
    flex-wrap:wrap;
    background-color:grey;
    padding:5vh 5vh 5vh 5vh;
    max-width:80vh;
    max-height:fit-content;
}

.calcBtn{
    background-color:#5795aa;
    color:white;
    font-size:6vh;
    height:fit-content;
    width:fit-content;
    padding:3vh 5vh 3vh 5vh;
    margin:1vh 1vh 1vh 1vh;
    flex-grow:1;
    text-align:center;
}

.calcBtn:hover{
    background-color:#79aec0;
}

#display{
    background-color:black;
    color:white;
    padding:3vh 5vh 3vh 5vh;
    width:80vh;
    height:10vh;
    text-align:right;
    
}